

.form-main {
  padding: 30px;
  overflow: visible;
  border-radius: 15px;
  background: #f8f9f9;
  display: flex;
  max-width: 720px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Sharp Sans Bold';
}

.form-main div p {
  font-size: 16px;
  margin-bottom: 5px;


}

.submit-button {
  cursor: pointer;
  background: #02363D;
  color: #f8f9f9;
  margin-top: 30px;
  padding: 20px 0px;
  width: 90%;
  border: none;
  border-radius: 5px;
  font-family: 'Sharp Sans Medium Regular';
  font-size: 19px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 10px 15px 5px rgba(2, 54, 61, 0.4);
  display: inline-block;
  transition: all 0.5s ease;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: #aaaaaa;
  box-shadow: 0px 10px 15px 5px rgba(200, 200, 200, 1);

}

.submit-button:hover {
  transform: translateY(-5px);
  scale: 1.05;
  box-shadow: 0px 15px 30px 5px rgba(2, 54, 61, 0.4);

}

.submit-button:disabled:hover {

  cursor: not-allowed;
  box-shadow: 0px 10px 15px 5px rgba(200, 200, 200, 1);
  animation: none !important;
}

.fo-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 90%
}

.fo-in input {
  border: #68737D 1px solid;
  border-radius: 5px;
  height: 60px;
  font-size: larger;
  background-color: white;
  padding-inline-start: 20px;
   font-family: 'Sharp Sans Medium Regular';
}

.fo-in select {
  border: #68737D 1px solid;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Sharp Sans Medium Regular';
  font-size: larger;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;

}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease;
  font-weight: 600;
  color: red;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 5px;
  border-radius: 0 0 10px 10px;

}
.material-symbols-outlined{
  position: relative;
  left: 90%;
  pointer-events: none;
  width: min-content;
  bottom: 40px;
}

@media (max-width: 750px) {
  .material-symbols-outlined{
    left: 85%;
  }
}