.i-main {
    font-family: 'Proxima Nova Regular';
    font-size: 20px;
    line-height: 28px;
    max-width: 720px;
    color: #405457;
}

@media (max-width: 480px) {
    .i-main{
        text-align: center;
    }
}