.App{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  justify-content: space-between;
  position: relative;
}

.footer-wrapper{
  
  position: relative;
  bottom: 0px;
  width: 100%;
}

.body{
  display:flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .body{
    flex-direction: column;
    align-items: center;
  }
  .left-content{
    width: 95vw !important;
  }
  .form-wrapper{
    width: 90% !important;
    align-items: center;
  }
}
@media (min-width: 1440px){

}

.left-content{
  
  animation: fadeInFromBottom 0.5s ease-in-out;
  width: 45%;
  max-width: 720px;
  
}

.form-wrapper {
  animation: fadeInFromBottom 0.8s ease-in-out;
  width: 45%;
  max-width: 720px;

}